@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}



.nav-link{
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    position: fixed;
    z-index: 100000;
    width: 100%;
    animation: slide-top 0.7s forwards;
}


.header h2{
font-size: 2rem;
font-weight: bold;
color: #fff;
letter-spacing: 3px;
font-family: sans-serif;
font-size: 20px;
animation: slide-top 0.7s forwards;
}

@keyframes slide-top {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.header span{
    color: rgb(97, 210, 230);
}


.nav-link ul{
display: flex;
gap: 3rem;
align-items: center;
}

li{
list-style: none;
text-transform: uppercase;
font-weight: 500;
font-size: 18px;
letter-spacing: 3px;
transition: 0.6s;
}

li a{
text-decoration: none;
color: rgb(97, 210, 230);
border-radius: 1rem;
padding: 5px 1rem;
font-family: sans-serif;
font-size: 18px;
}


li a:hover{
background: linear-gradient(#61d2e6, #2713c4);
color: #fff;

}

.banner{
height: 100%;
width: 100%;
position: absolute;
background-size: cover;
top: 0;
z-index: -1;
}

.section{
    height: 100%;
    width: 100%;
    padding-top: 8.5rem;
    display: flex;
}

.section .line{
    width: 3px;
    background-color: aqua;
    height: 20em;
    bottom: -3rem;
    position: relative;
    right: -6rem;
}

.image-about{
padding-left: 10rem;
}
.img {
    height: 25rem;
    width:  20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10rem;
    animation: scale-in-center 0.7s both;
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.image-about {
    height: 25rem;
    width: 20rem;
    background: #000216;
    background: linear-gradient(#0b147a, #000216);
    border-radius: 68px;
    box-shadow:  5px 5px 10px #000216,
             -5px -5px 10px #0b147a;
    padding-left: 10rem;
    
}
.image-about img  {
    height: 24rem;
    width: 19rem;
    border-radius: 68px;
    max-width: 350px;
    object-fit: cover;
    position: absolute;
    z-index: 1;
    
}
img {
    left: 168px;
    top: 8px;
    
}



.info{
padding-left: 12rem;
animation: slide-in-elliptic-top-fwd 0.7s forwards;

}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    transform: translateY(-600px) rotateX(-30deg) scale(0);
    transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotateX(0) scale(1);
    transform-origin: 50% 1400px;
    opacity: 1;
  }
}


.info p{
    color: #fff;
    border: 2.5px  #fff;
    border-radius: 1rem;
    width: 30rem;
    height: 21rem;
    padding: 2rem 2rem;
    text-align: center;
    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#0b147a, #000216);
    box-shadow:  5px 5px 10px #000216,
             -5px -5px 10px #0b147a;
}

button {
    top: -4.6rem;
    right: -63.1rem;
outline: none;
cursor: pointer;
border: none;
padding: 0.9rem 2rem;
margin: 0;
font-family: inherit;
font-size: inherit;
position: relative;
display: inline-block;
letter-spacing: 0.05rem;
font-weight: 800;
font-size: 17px;
border-radius: 500px;
overflow: hidden;
background: #2713c4;
color: rgb(97, 210, 230);
border: 2px solid rgb(97, 210, 230);
font-family: Arial, Helvetica, sans-serif;
box-shadow: 0px 5px 15px #2713c4;
animation: slide-in-elliptic-top-fwd 0.7s forwards;
}

button span {
position: relative;
z-index: 10;
transition: color 0.4s;
text-transform: uppercase;
letter-spacing: 3px;
font-weight: 600;
}

button:hover span {
color: rgb(97, 210, 230);
}

button::before,
button::after {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 0;
}

button::before {
content: "";
background: #000;
width: 120%;
left: -10%;
transform: skew(30deg);
transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
transform: translate3d(100%, 0, 0);
}


  
  .cube-loader {
    position: absolute;
    width: 20px;
    height: 20px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    top: 3.5%;
    left: 9.5%;
  }
  
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0);
    }
  
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
  .cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(10px);
    background: linear-gradient(to bottom,
              hsl(0, 0%, 100%) 0%,
              hsl(0, 0%, 100%) 5.5%,
              hsl(0, 0%, 100%) 12.1%,
              hsl(0, 0%, 0%) 100%,
              hsl(0, 0%, 100%) 27.9%,
              hsl(0, 0%, 100%) 36.6%,
              hsl(0, 0%, 100%) 45.6%,
              hsl(0, 0%, 0%) 100%,
              hsl(0, 0%, 100%) 63.4%,
              hsl(0, 0%, 100%) 71.7%,
              hsl(0, 0%, 100%) 79.4%,
              hsl(0, 0%, 0%) 100%,
              hsl(0, 0%, 100%) 100%,
              hsl(0, 0%, 100%) 100%,
              hsl(0, 0%, 100%) 100%,
              hsl(0, 0%, 0%) 100%);
  }
  
  .cube-top {
    position: absolute;
    width: 20px;
    height: 20px;
    background: hsl(0, 0%, 98%) 0%;
    transform: rotateX(90deg) translateZ(10px);
    transform-style: preserve-3d;
  }
  
  .cube-top::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: hsl(0, 0%, 33%) 19.6%;
    transform: translateZ(-30px);
    filter: blur(10px);
    box-shadow: 0 0 10px #ffffff,
          0 0 20px hsl(0, 0%, 0%) 19.6%,
          0 0 30px #ffffff,
          0 0 40px hsl(0, 0%, 0%) 19.6%;
  }
  

  .cube-loader2 {
    position: absolute;
    top: 85%;
    left: 80%;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;

  }
  
  @keyframes animate {
    0% {
      transform: rotateX(-30deg) rotateY(0);
    }
  
    100% {
      transform: rotateX(-30deg) rotateY(360deg);
    }
  }
  
  .cube-loader2 .cube-wrapper2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  
  .cube-loader2 .cube-wrapper2 .cube-span2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: linear-gradient(to bottom,
      hsl(270, 100%, 25.1%) 0%,
      hsl(270, 100%, 32.06%) 5.5%,
      hsl(270, 100%, 36.88%) 12.1%,
      hsl(270, 100%, 40.7%) 19.6%,
      hsl(270, 100%, 43.88%) 27.9%,
      hsl(270, 100%, 46.58%) 36.6%,
      hsl(270, 100%, 48.91%) 45.6%,
      hsl(270, 100%, 50.91%) 54.6%,
      hsl(270, 100%, 52.62%) 63.4%,
      hsl(270, 100%, 54.08%) 71.7%,
      hsl(270, 100%, 55.29%) 79.4%,
      hsl(270, 100%, 56.28%) 86.2%,
      hsl(270, 100%, 57.04%) 91.9%,
      hsl(270, 100%, 57.59%) 96.3%,
      hsl(270, 100%, 57.93%) 99%,
      hsl(270, 100%, 58.04%) 100%);
  }
  
  .cube-top2 {
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(320, 2%, 24%) 0%;
    transform: rotateX(90deg) translateZ(37.5px);
    transform-style: preserve-3d;
  }
  
  .cube-top2::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(0, 0%, 0%) 19.6%;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232,
          0 0 20px hsl(280, 42%, 41%) 19.6%,
          0 0 30px #323232,
          0 0 40px hsl(283, 42%, 41%) 19.6%;
  }